.body{
    background-size: 50%;
}

.login{
	margin:auto;
	width: 50%;
	max-width: 500px;
	max-height: 900px;
	
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: bold;

}

.boton{
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-left: 150;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }
  
  

.centrado{
  margin-left: auto;
  margin-right: auto;
}